.main-home{
    display: flex;
    border: none;
    background-color: white;
    position:static;
    align-items:center;
    justify-content: center;
    flex-direction: column;
}
.footer-style{
    margin-right: auto;
    
}

.footer-style img{
    width: 180%;
    border-radius: 20px;
}

.social-container {
    width: 110%;
    border-radius: 20px;
    align-items: center;
    text-align: center;
    margin-right: auto;
    background: #eee;
    padding: 25px 50px;
}

a.social {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
}

a.social:hover {
    transform: translateY(-2px);
}
  
a.facebook {
    color: #4968ad;
}
  
a.twitter {
    color: #49a1eb;
}
  
a.instagram {
    color: black;
}
